@{
    ViewData["Title"] = "系统登录";
    ViewData["BODY_CLAZZ"] = "login-bg";
}
<div class="login layui-anim layui-anim-up">
    <div class="message">@WebApp.AppTitle</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form">
        <input name="username" placeholder="用户名" type="text" required  lay-verify="required" class="layui-input">
        <hr class="hr15">
        <input name="password" lay-verify="required" placeholder="密码" required  type="password" class="layui-input">
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20">
    </form>
</div>

<script>
    $(function () {
        layui.use('form', function () {
            var form = layui.form;
            // layer.msg('玩命卖萌中', function(){
            //   //关闭后的操作
            //   });
            //监听提交
            form.on('submit(login)', function (data) {                
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(data.field),
                    url: "/UserApi/Login",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    //async:false,
                    success(data) {
                        if (data.code == 0) {
                            window.location.href = "/Home/Main"
                        } else {
                            layer.msg(data.message);
                        }
                    },
                    error: ajaxRequestError
                });               
                return false;
            });
        });
    })
</script>
